*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    /* border: 1px solid #ffff; */
    color: #ffff;
}

.main {
    background: url(../img/background.png);
    background-position: center;
}
.color{
    color: blue;
}
.div1{
    transform: rotate(10deg);
}

